/*utilies*/
:root{
    --cv-primary-color: #f0f1f2;
    --cv-button1: #a3d8f4;
    --cv-button2: #c7b0f0;
    --cv-button3: #b9e4db;
    --cv-button4: #f8c986;
    --cv-button5: #eab2d1;
    --cv-button6: #b0c926;
}

body{
    margin: 0;
    background-color: var(--cv-primary-color)
}

.container{
margin: 3% auto;
width: 60%;
background-color: white;
border-radius: 5%;
}

.title{
    background-repeat: no-repeat;
    height: 60px;
    background-color: white;
}

#triangle-size{
    font-size: 12px;
}

#header1{
    display: inline;
}

.button{
    border: 10px solid rgb(255, 255, 255);
    border-bottom: 1px solid #f0f1f2;
    height: 40px;
    padding-left: 30px;
    border-radius: 5%;
    
}

#blue{
    background-color: var(--cv-button1);
    border: 2px solid #a3d8f4;
    margin-right: 2px;
    border-radius: 10%;
    color: white;
    height: 2rem;
    width: 5rem;
}

#translucid{
    background-color: white;
    border: 1px solid rgb(214, 211, 211);
    color: rgb(214, 211, 211);
    border-radius: 10%;
    height: 2rem;
    
}

.task{
    text
}
