/*utilies*/
:root{
    --cv-primary-color: #f0f1f2;
    --cv-button1: #a3d8f4;
    --cv-button2: #c7b0f0;
    --cv-button3: #b9e4db;
    --cv-button4: #f8c986;
    --cv-button5: #eab2d1;
    --cv-button6: #b0c926;
}

body{
    margin: 0;
    background-color: var(--cv-primary-color)
}

.container{
margin: 0 auto;
width: 60%;
}

.title{
    background-repeat: no-repeat;
    height: 60px;
    background-color: white;
}

#header1{
    display: inline;
}

.image{
    
}
